/* COLORS:
red: #d73043
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300i,400,700');

body{
  font-family:'Open Sans';
}

h2 {
  color: #005897;
  font-size:13pt;
  margin-bottom:5pt;
}
h3{
  margin:5pt;
  margin-left:0;
  font-family:'Merriweather';
  font-size:10pt;
  font-style:italic;
}
.fa{
  font-size:10pt;
  }
#mapid, #sidebar{
  height: 320px;
}
#mapid {
  /*margin-right:50px;*/
  width: 75vw;
  display:inline-block;
  border:3px solid black;
  border-left:none;
}
#sidebar{
  /*margin-left:50px;*/
  width:25vw;
  display:inline-block;
  border:3px solid black;
  position:relative;
  overflow-y:scroll;

}
#lister{
    padding-left:5px;
}

.link-button {
	background-color:#d73043;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Merriweather';
	font-size:10pt;
	/*font-weight:bold;*/
  /*margin-left:10px;*/
	text-decoration:none;
  text-align: center;
  /*width:100px;*/
  padding:8px 15px;
}
.link-button:hover {
	background-color:#d73043;
  opacity:.7;
}
.link-button:active {
	position:relative;
	top:1px;
}
.fb{
  margin-left:10px;
}


.row{
  display:flex;
}
.list-img{
  max-width:calc(20vw - 40px);
  margin-right:10px;
  display:inline-block;
}
.list-link{
  width:100px;
  margin-top:10px;
  display:block;
  margin-left:0;
}

.leaflet-popup-close-button+.leaflet-popup-content-wrapper .leaflet-popup-content{
  padding:0;
  text-align:center;
}

@media screen and (max-width:760px){
  .row{
    display:flex;
    flex-direction:column;
  }
  #mapid, #sidebar{
    height: 320px;
  }
  #mapid {
    width: 100%;
    display:inline-block;
    border:none;
    border-left:none;
  }
  #sidebar{
    height:100%;
    width:100%;
    display:inline-block;
    border:none;
    position:relative;
    overflow-y:scroll;

  }
  #lister{
      /*padding-left:5px;*/
      padding:0;
      /*display:flex;*/
      flex-direction:column;
  }
  .link-button{
    margin-left:0;
    display:block;
    width:100px;
  }
  .fb{
    margin-top:10px;

  }

  .list-img{
    /*max-width:calc(100vw - 20px);*/
    /*max-height:50vh;*/
    float:right;
    max-width:300px;
  }
}
